
<div class="container">
    <div *ngIf="job">
    
        <h2>{{job.name | uppercase}} Details</h2>
       
        <div><span>dir: </span>{{job.dir}}</div>
        <div><span>numRetried: </span>{{job.numRetried}}</div>
        <div><span>projectName: </span>{{job.projectName}}</div>
        <div><span>state: </span>{{job.state}}</div>

        <div><span>submitterName: </span>{{job.submitterName}}</div>
        <div><span>stateReason: </span>{{job.stateReason}}</div>
        <div><span>timestamps: </span>{{job.timestamps}}</div>

        <div><span>URI: </span>{{job.URI}}</div>
 
      </div>
    </div>

    <div class="container">
      <div *ngIf="djob">
      
          <h2>{{djob.name | uppercase}} Details</h2>
         
          <div><span>dir: </span>{{djob.dir}}</div>
          <div><span>numRetried: </span>{{djob.numRetried}}</div>
          <div><span>projectName: </span>{{djob.projectName}}</div>
          <div><span>state: </span>{{djob.state}}</div>
  
          <div><span>submitterName: </span>{{djob.submitterName}}</div>
          <div><span>stateReason: </span>{{djob.stateReason}}</div>
          <div><span>timestamps: </span>{{djob.timestamps}}</div>
  
          <div><span>URI: </span>{{djob.URI}}</div>
          
         
        
        </div>
      </div>
   