
<div class="container">
    <h2> Mock up of simpel statistics of my job performance </h2>

  <div>
      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="chart" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [yAxisTickFormatting]='axisFormat' (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
</div>